.back1{
  background-image: url("/images/1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
 }

 .back2{
  background-image: url("/images/2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }

 .back3{
  background-image: url("/images/3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }

 .back4{
  background-image: url("/images/4.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }

 .back5{
  background-image: url("/images/5.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }

 .back6{
  background-image: url("/images/6.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }

 .back7{
  background-image: url("/images/7.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }

 .back8{
  background-image: url("/images/8.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }

 .back9{
  background-image: url("/images/9.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }

 .back10{
  background-image: url("/images/10.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }

 .back11{
  background-image: url("/images/11.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }